---
http_interactions:
- request:
    method: get
    uri: https://www.cbr.ru/scripts/XML_daily.asp?date_req=12.10.2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=windows-1251
    body:
      encoding: Windows-1251
      string: <?xml version="1.0" encoding="windows-1251"?><ValCurs Date="12.10.2023"
        name="Foreign Currency Market"><Valute ID="R01010"><NumCode>036</NumCode><CharCode>AUD</CharCode><Nominal>1</Nominal><Name>Австралийский
        доллар</Name><Value>64,1977</Value><VunitRate>64,1977</VunitRate></Valute><Valute
        ID="R01020A"><NumCode>944</NumCode><CharCode>AZN</CharCode><Nominal>1</Nominal><Name>Азербайджанский
        манат</Name><Value>58,8122</Value><VunitRate>58,8122</VunitRate></Valute><Valute
        ID="R01035"><NumCode>826</NumCode><CharCode>GBP</CharCode><Nominal>1</Nominal><Name>Фунт
        стерлингов Соединенного королевства</Name><Value>122,5465</Value><VunitRate>122,5465</VunitRate></Valute><Valute
        ID="R01060"><NumCode>051</NumCode><CharC[...]
